{# empty Twig template #}

{% extends 'MyAppFrontofficeBundle:Default:layout.html.twig' %}

{% block checkout%}

<nav id="top-megamenu-nav" class="megamenu-vertical animate-dropdown">
    <div class="container">
        <div class="yamm navbar">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mc-horizontal-menu-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div><!-- /.navbar-header -->
            <div class="collapse navbar-collapse" id="mc-horizontal-menu-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">TV &amp; Audio</a>
                        <ul class="dropdown-menu">
                            <li><div class="yamm-content">
    <div class="row">
       <div class="col-xs-12 col-sm-4">
            <h2>Laptops &amp; Notebooks</h2>
            <ul>
                <li><a href="#">Power Supplies Power</a></li>
                <li><a href="#">Power Supply Testers Sound </a></li>
                <li><a href="#">Sound Cards (Internal)</a></li>
                <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
                <li><a href="#">Other</a></li>
            </ul>
        </div><!-- /.col -->

        <div class="col-xs-12 col-sm-4">
            <h2>Computers &amp; Laptops</h2>
            <ul>
                <li><a href="#">Computer Cases &amp; Accessories</a></li>
                <li><a href="#">CPUs, Processors</a></li>
                <li><a href="#">Fans, Heatsinks &amp; Cooling</a></li>
                <li><a href="#">Graphics, Video Cards</a></li>
                <li><a href="#">Interface, Add-On Cards</a></li>
                <li><a href="#">Laptop Replacement Parts</a></li>
                <li><a href="#">Memory (RAM)</a></li>
                <li><a href="#">Motherboards</a></li>
                <li><a href="#">Motherboard &amp; CPU Combos</a></li>
                <li><a href="#">Motherboard Components &amp; Accs</a></li>
            </ul>
        </div><!-- /.col -->

        <div class="col-xs-12 col-sm-4">
            <h2>Dekstop Parts</h2>
            <ul>
                <li><a href="#">Power Supplies Power</a></li>
                <li><a href="#">Power Supply Testers Sound</a></li>
                <li><a href="#">Sound Cards (Internal)</a></li>
                <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
                <li><a href="#">Other</a></li>
            </ul>
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.yamm-content --></li>
                        </ul>
                    </li>
                            
                    <li class="dropdown open">
                        <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">RTV</a>
                        <ul class="dropdown-menu">
                            <li><div class="yamm-content">
    <div class="row">
       <div class="col-xs-12 col-sm-4">
            <h2>Laptops &amp; Notebooks</h2>
            <ul>
                <li><a href="#">Power Supplies Power</a></li>
                <li><a href="#">Power Supply Testers Sound </a></li>
                <li><a href="#">Sound Cards (Internal)</a></li>
                <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
                <li><a href="#">Other</a></li>
            </ul>
        </div><!-- /.col -->

        <div class="col-xs-12 col-sm-4">
            <h2>Computers &amp; Laptops</h2>
            <ul>
                <li><a href="#">Computer Cases &amp; Accessories</a></li>
                <li><a href="#">CPUs, Processors</a></li>
                <li><a href="#">Fans, Heatsinks &amp; Cooling</a></li>
                <li><a href="#">Graphics, Video Cards</a></li>
                <li><a href="#">Interface, Add-On Cards</a></li>
                <li><a href="#">Laptop Replacement Parts</a></li>
                <li><a href="#">Memory (RAM)</a></li>
                <li><a href="#">Motherboards</a></li>
                <li><a href="#">Motherboard &amp; CPU Combos</a></li>
                <li><a href="#">Motherboard Components &amp; Accs</a></li>
            </ul>
        </div><!-- /.col -->

        <div class="col-xs-12 col-sm-4">
            <h2>Dekstop Parts</h2>
            <ul>
                <li><a href="#">Power Supplies Power</a></li>
                <li><a href="#">Power Supply Testers Sound</a></li>
                <li><a href="#">Sound Cards (Internal)</a></li>
                <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
                <li><a href="#">Other</a></li>
            </ul>
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.yamm-content --></li>
                        </ul>
                    </li>
                            
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Computers</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Computer Cases &amp; Accessories</a></li>
                            <li><a href="#">CPUs, Processors</a></li>
                            <li><a href="#">Fans, Heatsinks &amp; Cooling</a></li>
                            <li><a href="#">Graphics, Video Cards</a></li>
                            <li><a href="#">Interface, Add-On Cards</a></li>
                            <li><a href="#">Laptop Replacement Parts</a></li>
                            <li><a href="#">Memory (RAM)</a></li>
                            <li><a href="#">Motherboards</a></li>
                            <li><a href="#">Motherboard &amp; CPU Combos</a></li>
                        </ul>
                    </li>
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Games &amp; Consoles</a>
                        <ul class="dropdown-menu">
                            <li><div class="yamm-content">
    <div class="row">
       <div class="col-xs-12 col-sm-4">
            <h2>Laptops &amp; Notebooks</h2>
            <ul>
                <li><a href="#">Power Supplies Power</a></li>
                <li><a href="#">Power Supply Testers Sound </a></li>
                <li><a href="#">Sound Cards (Internal)</a></li>
                <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
                <li><a href="#">Other</a></li>
            </ul>
        </div><!-- /.col -->

        <div class="col-xs-12 col-sm-4">
            <h2>Computers &amp; Laptops</h2>
            <ul>
                <li><a href="#">Computer Cases &amp; Accessories</a></li>
                <li><a href="#">CPUs, Processors</a></li>
                <li><a href="#">Fans, Heatsinks &amp; Cooling</a></li>
                <li><a href="#">Graphics, Video Cards</a></li>
                <li><a href="#">Interface, Add-On Cards</a></li>
                <li><a href="#">Laptop Replacement Parts</a></li>
                <li><a href="#">Memory (RAM)</a></li>
                <li><a href="#">Motherboards</a></li>
                <li><a href="#">Motherboard &amp; CPU Combos</a></li>
                <li><a href="#">Motherboard Components &amp; Accs</a></li>
            </ul>
        </div><!-- /.col -->

        <div class="col-xs-12 col-sm-4">
            <h2>Dekstop Parts</h2>
            <ul>
                <li><a href="#">Power Supplies Power</a></li>
                <li><a href="#">Power Supply Testers Sound</a></li>
                <li><a href="#">Sound Cards (Internal)</a></li>
                <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
                <li><a href="#">Other</a></li>
            </ul>
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.yamm-content --></li>
                        </ul>
                    </li>
                    
                    
                    <li class="dropdown yamm-fw">
                        <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Gadgets</a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                       <div class="col-xs-12 col-sm-3">
                                            <h2>Laptops &amp; Notebooks</h2>
                                            <ul>
                                                <li><a href="#">Power Supplies Power</a></li>
                                                <li><a href="#">Power Supply Testers Sound </a></li>
                                                <li><a href="#">Sound Cards (Internal)</a></li>
                                                <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
                                                <li><a href="#">Other</a></li>
                                            </ul>
                                        </div><!-- /.col -->

                                        <div class="col-xs-12 col-sm-3">
                                            <h2>Computers &amp; Laptops</h2>
                                            <ul>
                                                <li><a href="#">Computer Cases &amp; Accessories</a></li>
                                                <li><a href="#">CPUs, Processors</a></li>
                                                <li><a href="#">Fans, Heatsinks &amp; Cooling</a></li>
                                                <li><a href="#">Graphics, Video Cards</a></li>
                                                <li><a href="#">Interface, Add-On Cards</a></li>
                                                <li><a href="#">Laptop Replacement Parts</a></li>
                                                <li><a href="#">Memory (RAM)</a></li>
                                                <li><a href="#">Motherboards</a></li>
                                                <li><a href="#">Motherboard &amp; CPU Combos</a></li>
                                                <li><a href="#">Motherboard Components &amp; Accs</a></li>
                                            </ul>
                                        </div><!-- /.col -->

                                        <div class="col-xs-12 col-sm-3">
                                            <h2>Desktop Parts</h2>
                                            <ul>
                                                <li><a href="#">Power Supplies Power</a></li>
                                                <li><a href="#">Power Supply Testers Sound</a></li>
                                                <li><a href="#">Sound Cards (Internal)</a></li>
                                                <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
                                                <li><a href="#">Other</a></li>
                                            </ul>
                                        </div><!-- /.col -->

                                        <div class="col-xs-12 col-sm-3">
                                            <h2>Laptops &amp; Notebooks</h2>
                                            <ul>
                                                <li><a href="#">Power Supplies Power</a></li>
                                                <li><a href="#">Power Supply Testers Sound </a></li>
                                                <li><a href="#">Sound Cards (Internal)</a></li>
                                                <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
                                                <li><a href="#">Other</a></li>
                                            </ul>
                                        </div><!-- /.col -->
                                    </div><!-- /.row -->
                                </div><!-- /.yamm-content -->
                            </li>
                        </ul>
                    </li><!-- /.yamm-fw -->
                    
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Phones &amp; Tablets</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Motherboard Components &amp; Accs</a></li>
                            <li><a href="#">Power Supplies Power</a></li>
                            <li><a href="#">Power Supply TestersSound </a></li>
                            <li><a href="#">Sound Cards (Internal)</a></li>
                            <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
                            <li><a href="#">Other</a></li>
                        </ul>
                    </li>
                    
                    
                    <li class="dropdown hidden-md">
                        <a href="#" class="dropdown-toggle" data-hover="dropdown">GPS &amp; Car Audio</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Laptops &amp; Notebooks</a></li>
                            <li><a href="#">RTV</a></li>
                            <li><a href="#">TV &amp; Audio</a></li>
                            <li><a href="#">Gadgets</a></li>
                            <li><a href="#">Cameras</a></li>
                        </ul>
                    </li>
                    
                    <li class="dropdown navbar-right hidden-md">
                        <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Accessories</a>
                        <ul class="dropdown-menu">
                            <li><div class="yamm-content">
    <div class="row">
       <div class="col-xs-12 col-sm-4">
            <h2>Laptops &amp; Notebooks</h2>
            <ul>
                <li><a href="#">Power Supplies Power</a></li>
                <li><a href="#">Power Supply Testers Sound </a></li>
                <li><a href="#">Sound Cards (Internal)</a></li>
                <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
                <li><a href="#">Other</a></li>
            </ul>
        </div><!-- /.col -->

        <div class="col-xs-12 col-sm-4">
            <h2>Computers &amp; Laptops</h2>
            <ul>
                <li><a href="#">Computer Cases &amp; Accessories</a></li>
                <li><a href="#">CPUs, Processors</a></li>
                <li><a href="#">Fans, Heatsinks &amp; Cooling</a></li>
                <li><a href="#">Graphics, Video Cards</a></li>
                <li><a href="#">Interface, Add-On Cards</a></li>
                <li><a href="#">Laptop Replacement Parts</a></li>
                <li><a href="#">Memory (RAM)</a></li>
                <li><a href="#">Motherboards</a></li>
                <li><a href="#">Motherboard &amp; CPU Combos</a></li>
                <li><a href="#">Motherboard Components &amp; Accs</a></li>
            </ul>
        </div><!-- /.col -->

        <div class="col-xs-12 col-sm-4">
            <h2>Dekstop Parts</h2>
            <ul>
                <li><a href="#">Power Supplies Power</a></li>
                <li><a href="#">Power Supply Testers Sound</a></li>
                <li><a href="#">Sound Cards (Internal)</a></li>
                <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
                <li><a href="#">Other</a></li>
            </ul>
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.yamm-content --></li>
                        </ul>
                    </li>
                </ul><!-- /.navbar-nav -->
            </div><!-- /.navbar-collapse -->
        </div><!-- /.navbar -->
    </div><!-- /.container -->
</nav>












<div class="animate-dropdown"><!-- ========================================= BREADCRUMB ========================================= -->
<div id="breadcrumb-alt">
    <div class="container">
        <div class="breadcrumb-nav-holder minimal">
            <ul>
                <li class="dropdown breadcrumb-item">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        shop by department
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Computer Cases &amp; Accessories</a></li>
                        <li><a href="#">CPUs, Processors</a></li>
                        <li><a href="#">Fans, Heatsinks &amp; Cooling</a></li>
                        <li><a href="#">Graphics, Video Cards</a></li>
                        <li><a href="#">Interface, Add-On Cards</a></li>
                        <li><a href="#">Laptop Replacement Parts</a></li>
                        <li><a href="#">Memory (RAM)</a></li>
                        <li><a href="#">Motherboards</a></li>
                        <li><a href="#">Motherboard &amp; CPU Combos</a></li>
                        <li><a href="#">Motherboard Components</a></li>
                    </ul>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">Home</a>
                </li>
                <li class="breadcrumb-item current">
                    <a href="#">Checkout Process</a>
                </li>
            </ul><!-- /.breadcrumb-nav-holder -->
        </div>
    </div><!-- /.container -->
</div>
<!-- ========================================= BREADCRUMB : END ========================================= --></div>







<section id="checkout-page">
    <div class="container">
        <div class="col-xs-12 no-margin">
            
            <div class="billing-address">
                <h2 class="border h1">billing address</h2>
                <form>
                    <div class="row field-row">
                        <div class="col-xs-12 col-sm-6">
                            <label>full name*</label>
                            <input class="le-input">
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <label>last name*</label>
                            <input class="le-input">
                        </div>
                    </div><!-- /.field-row -->

                    <div class="row field-row">
                        <div class="col-xs-12">
                            <label>company name</label>
                            <input class="le-input">
                        </div>
                    </div><!-- /.field-row -->

                    <div class="row field-row">
                        <div class="col-xs-12 col-sm-6">
                            <label>address*</label>
                            <input class="le-input placeholder" data-placeholder="street address">
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <label>&nbsp;</label>
                            <input class="le-input placeholder" data-placeholder="town">
                        </div>
                    </div><!-- /.field-row -->

                    <div class="row field-row">
                        <div class="col-xs-12 col-sm-4">
                            <label>postcode / Zip*</label>
                            <input class="le-input">
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <label>email address*</label>
                            <input class="le-input">
                        </div>

                        <div class="col-xs-12 col-sm-4">
                            <label>phone number*</label>
                            <input class="le-input">
                        </div>
                    </div><!-- /.field-row -->

                    <div class="row field-row">
                        <div id="create-account" class="col-xs-12">
                            <input class="le-checkbox big" type="checkbox"><i class="fake-box"></i>
                            <a class="simple-link bold" href="#">Create Account?</a> - you will receive email with temporary generated password after login you need to change it.
                        </div>
                    </div><!-- /.field-row -->

                </form>
            </div><!-- /.billing-address -->


            <section id="shipping-address">
                <h2 class="border h1">shipping address</h2>
                <form>
                    <div class="row field-row">
                        <div class="col-xs-12">
                            <input class="le-checkbox big" type="checkbox"><i class="fake-box"></i>
                            <a class="simple-link bold" href="#">ship to different address?</a>
                        </div>
                    </div><!-- /.field-row -->
                </form>
            </section><!-- /#shipping-address -->


            <section id="your-order">
                <h2 class="border h1">your order</h2>
                <form>
                    <div class="row no-margin order-item">
                        <div class="col-xs-12 col-sm-1 no-margin">
                            <a href="#" class="qty">1 x</a>
                        </div>

                        <div class="col-xs-12 col-sm-9 ">
                            <div class="title"><a href="#">white lumia 9001 </a></div>
                            <div class="brand">sony</div>
                        </div>

                        <div class="col-xs-12 col-sm-2 no-margin">
                            <div class="price">$2000.00</div>
                        </div>
                    </div><!-- /.order-item -->

                    <div class="row no-margin order-item">
                        <div class="col-xs-12 col-sm-1 no-margin">
                            <a href="#" class="qty">1 x</a>
                        </div>

                        <div class="col-xs-12 col-sm-9 ">
                            <div class="title"><a href="#">white lumia 9001 </a></div>
                            <div class="brand">sony</div>
                        </div>

                        <div class="col-xs-12 col-sm-2 no-margin">
                            <div class="price">$2000.00</div>
                        </div>
                    </div><!-- /.order-item -->

                    <div class="row no-margin order-item">
                        <div class="col-xs-12 col-sm-1 no-margin">
                            <a href="#" class="qty">1 x</a>
                        </div>

                        <div class="col-xs-12 col-sm-9 ">
                            <div class="title"><a href="#">white lumia 9001 </a></div>
                            <div class="brand">sony</div>
                        </div>

                        <div class="col-xs-12 col-sm-2 no-margin">
                            <div class="price">$2000.00</div>
                        </div>
                    </div><!-- /.order-item -->
                </form>
            </section><!-- /#your-order -->

            <div id="total-area" class="row no-margin">
                <div class="col-xs-12 col-lg-4 col-lg-offset-8 no-margin-right">
                    <div id="subtotal-holder">
                        <ul class="tabled-data inverse-bold no-border">
                            <li>
                                <label>cart subtotal</label>
                                <div class="value ">$8434.00</div>
                            </li>
                            <li>
                                <label>shipping</label>
                                <div class="value">
                                    <div class="radio-group">
                                        <input class="le-radio" type="radio" name="group1" value="free"><i class="fake-box"></i> <div class="radio-label bold">free shipping</div><br>
                                        <input class="le-radio" type="radio" name="group1" value="local" checked=""><i class="fake-box"></i>  <div class="radio-label">local delivery<br><span class="bold">$15</span></div>
                                    </div>
                                </div>
                            </li>
                        </ul><!-- /.tabled-data -->

                        <ul id="total-field" class="tabled-data inverse-bold ">
                            <li>
                                <label>order total</label>
                                <div class="value">$8434.00</div>
                            </li>
                        </ul><!-- /.tabled-data -->

                    </div><!-- /#subtotal-holder -->
                </div><!-- /.col -->
            </div><!-- /#total-area -->

            <div id="payment-method-options">
                <form>
                    <div class="payment-method-option">
                        <input class="le-radio" type="radio" name="group2" value="Direct"><i class="fake-box"></i>
                        <div class="radio-label bold ">Direct Bank Transfer<br>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce rutrum tempus elit, vestibulum vestibulum erat ornare id.</p>
                        </div>
                    </div><!-- /.payment-method-option -->
                    
                    <div class="payment-method-option">
                        <input class="le-radio" type="radio" name="group2" value="cheque"><i class="fake-box"></i>
                        <div class="radio-label bold ">cheque payment</div>
                    </div><!-- /.payment-method-option -->
                    
                    <div class="payment-method-option">
                        <input class="le-radio" type="radio" name="group2" value="paypal"><i class="fake-box"></i>
                        <div class="radio-label bold ">paypal system</div>
                    </div><!-- /.payment-method-option -->
                </form>
            </div><!-- /#payment-method-options -->
            
            <div class="place-order-button">
                <button class="le-button big">place order</button>
            </div><!-- /.place-order-button -->

        </div><!-- /.col -->
    </div><!-- /.container -->    
</section>



{% endblock %}