{# empty Twig template #}
{% extends 'MyAppFrontofficeBundle:Default:layout.html.twig' %}

{% block terms%}

<nav id="top-megamenu-nav" class="megamenu-vertical animate-dropdown">
    <div class="container">
        <div class="yamm navbar">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mc-horizontal-menu-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div><!-- /.navbar-header -->
            <div class="collapse navbar-collapse" id="mc-horizontal-menu-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">TV &amp; Audio</a>
                        <ul class="dropdown-menu">
                            <li><div class="yamm-content">
    <div class="row">
       <div class="col-xs-12 col-sm-4">
            <h2>Laptops &amp; Notebooks</h2>
            <ul>
                <li><a href="#">Power Supplies Power</a></li>
                <li><a href="#">Power Supply Testers Sound </a></li>
                <li><a href="#">Sound Cards (Internal)</a></li>
                <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
                <li><a href="#">Other</a></li>
            </ul>
        </div><!-- /.col -->

        <div class="col-xs-12 col-sm-4">
            <h2>Computers &amp; Laptops</h2>
            <ul>
                <li><a href="#">Computer Cases &amp; Accessories</a></li>
                <li><a href="#">CPUs, Processors</a></li>
                <li><a href="#">Fans, Heatsinks &amp; Cooling</a></li>
                <li><a href="#">Graphics, Video Cards</a></li>
                <li><a href="#">Interface, Add-On Cards</a></li>
                <li><a href="#">Laptop Replacement Parts</a></li>
                <li><a href="#">Memory (RAM)</a></li>
                <li><a href="#">Motherboards</a></li>
                <li><a href="#">Motherboard &amp; CPU Combos</a></li>
                <li><a href="#">Motherboard Components &amp; Accs</a></li>
            </ul>
        </div><!-- /.col -->

        <div class="col-xs-12 col-sm-4">
            <h2>Dekstop Parts</h2>
            <ul>
                <li><a href="#">Power Supplies Power</a></li>
                <li><a href="#">Power Supply Testers Sound</a></li>
                <li><a href="#">Sound Cards (Internal)</a></li>
                <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
                <li><a href="#">Other</a></li>
            </ul>
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.yamm-content --></li>
                        </ul>
                    </li>
                            
                    <li class="dropdown open">
                        <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">RTV</a>
                        <ul class="dropdown-menu">
                            <li><div class="yamm-content">
    <div class="row">
       <div class="col-xs-12 col-sm-4">
            <h2>Laptops &amp; Notebooks</h2>
            <ul>
                <li><a href="#">Power Supplies Power</a></li>
                <li><a href="#">Power Supply Testers Sound </a></li>
                <li><a href="#">Sound Cards (Internal)</a></li>
                <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
                <li><a href="#">Other</a></li>
            </ul>
        </div><!-- /.col -->

        <div class="col-xs-12 col-sm-4">
            <h2>Computers &amp; Laptops</h2>
            <ul>
                <li><a href="#">Computer Cases &amp; Accessories</a></li>
                <li><a href="#">CPUs, Processors</a></li>
                <li><a href="#">Fans, Heatsinks &amp; Cooling</a></li>
                <li><a href="#">Graphics, Video Cards</a></li>
                <li><a href="#">Interface, Add-On Cards</a></li>
                <li><a href="#">Laptop Replacement Parts</a></li>
                <li><a href="#">Memory (RAM)</a></li>
                <li><a href="#">Motherboards</a></li>
                <li><a href="#">Motherboard &amp; CPU Combos</a></li>
                <li><a href="#">Motherboard Components &amp; Accs</a></li>
            </ul>
        </div><!-- /.col -->

        <div class="col-xs-12 col-sm-4">
            <h2>Dekstop Parts</h2>
            <ul>
                <li><a href="#">Power Supplies Power</a></li>
                <li><a href="#">Power Supply Testers Sound</a></li>
                <li><a href="#">Sound Cards (Internal)</a></li>
                <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
                <li><a href="#">Other</a></li>
            </ul>
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.yamm-content --></li>
                        </ul>
                    </li>
                            
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Computers</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Computer Cases &amp; Accessories</a></li>
                            <li><a href="#">CPUs, Processors</a></li>
                            <li><a href="#">Fans, Heatsinks &amp; Cooling</a></li>
                            <li><a href="#">Graphics, Video Cards</a></li>
                            <li><a href="#">Interface, Add-On Cards</a></li>
                            <li><a href="#">Laptop Replacement Parts</a></li>
                            <li><a href="#">Memory (RAM)</a></li>
                            <li><a href="#">Motherboards</a></li>
                            <li><a href="#">Motherboard &amp; CPU Combos</a></li>
                        </ul>
                    </li>
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Games &amp; Consoles</a>
                        <ul class="dropdown-menu">
                            <li><div class="yamm-content">
    <div class="row">
       <div class="col-xs-12 col-sm-4">
            <h2>Laptops &amp; Notebooks</h2>
            <ul>
                <li><a href="#">Power Supplies Power</a></li>
                <li><a href="#">Power Supply Testers Sound </a></li>
                <li><a href="#">Sound Cards (Internal)</a></li>
                <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
                <li><a href="#">Other</a></li>
            </ul>
        </div><!-- /.col -->

        <div class="col-xs-12 col-sm-4">
            <h2>Computers &amp; Laptops</h2>
            <ul>
                <li><a href="#">Computer Cases &amp; Accessories</a></li>
                <li><a href="#">CPUs, Processors</a></li>
                <li><a href="#">Fans, Heatsinks &amp; Cooling</a></li>
                <li><a href="#">Graphics, Video Cards</a></li>
                <li><a href="#">Interface, Add-On Cards</a></li>
                <li><a href="#">Laptop Replacement Parts</a></li>
                <li><a href="#">Memory (RAM)</a></li>
                <li><a href="#">Motherboards</a></li>
                <li><a href="#">Motherboard &amp; CPU Combos</a></li>
                <li><a href="#">Motherboard Components &amp; Accs</a></li>
            </ul>
        </div><!-- /.col -->

        <div class="col-xs-12 col-sm-4">
            <h2>Dekstop Parts</h2>
            <ul>
                <li><a href="#">Power Supplies Power</a></li>
                <li><a href="#">Power Supply Testers Sound</a></li>
                <li><a href="#">Sound Cards (Internal)</a></li>
                <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
                <li><a href="#">Other</a></li>
            </ul>
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.yamm-content --></li>
                        </ul>
                    </li>
                    
                    
                    <li class="dropdown yamm-fw">
                        <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Gadgets</a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                       <div class="col-xs-12 col-sm-3">
                                            <h2>Laptops &amp; Notebooks</h2>
                                            <ul>
                                                <li><a href="#">Power Supplies Power</a></li>
                                                <li><a href="#">Power Supply Testers Sound </a></li>
                                                <li><a href="#">Sound Cards (Internal)</a></li>
                                                <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
                                                <li><a href="#">Other</a></li>
                                            </ul>
                                        </div><!-- /.col -->

                                        <div class="col-xs-12 col-sm-3">
                                            <h2>Computers &amp; Laptops</h2>
                                            <ul>
                                                <li><a href="#">Computer Cases &amp; Accessories</a></li>
                                                <li><a href="#">CPUs, Processors</a></li>
                                                <li><a href="#">Fans, Heatsinks &amp; Cooling</a></li>
                                                <li><a href="#">Graphics, Video Cards</a></li>
                                                <li><a href="#">Interface, Add-On Cards</a></li>
                                                <li><a href="#">Laptop Replacement Parts</a></li>
                                                <li><a href="#">Memory (RAM)</a></li>
                                                <li><a href="#">Motherboards</a></li>
                                                <li><a href="#">Motherboard &amp; CPU Combos</a></li>
                                                <li><a href="#">Motherboard Components &amp; Accs</a></li>
                                            </ul>
                                        </div><!-- /.col -->

                                        <div class="col-xs-12 col-sm-3">
                                            <h2>Desktop Parts</h2>
                                            <ul>
                                                <li><a href="#">Power Supplies Power</a></li>
                                                <li><a href="#">Power Supply Testers Sound</a></li>
                                                <li><a href="#">Sound Cards (Internal)</a></li>
                                                <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
                                                <li><a href="#">Other</a></li>
                                            </ul>
                                        </div><!-- /.col -->

                                        <div class="col-xs-12 col-sm-3">
                                            <h2>Laptops &amp; Notebooks</h2>
                                            <ul>
                                                <li><a href="#">Power Supplies Power</a></li>
                                                <li><a href="#">Power Supply Testers Sound </a></li>
                                                <li><a href="#">Sound Cards (Internal)</a></li>
                                                <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
                                                <li><a href="#">Other</a></li>
                                            </ul>
                                        </div><!-- /.col -->
                                    </div><!-- /.row -->
                                </div><!-- /.yamm-content -->
                            </li>
                        </ul>
                    </li><!-- /.yamm-fw -->
                    
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Phones &amp; Tablets</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Motherboard Components &amp; Accs</a></li>
                            <li><a href="#">Power Supplies Power</a></li>
                            <li><a href="#">Power Supply TestersSound </a></li>
                            <li><a href="#">Sound Cards (Internal)</a></li>
                            <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
                            <li><a href="#">Other</a></li>
                        </ul>
                    </li>
                    
                    
                    <li class="dropdown hidden-md">
                        <a href="#" class="dropdown-toggle" data-hover="dropdown">GPS &amp; Car Audio</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Laptops &amp; Notebooks</a></li>
                            <li><a href="#">RTV</a></li>
                            <li><a href="#">TV &amp; Audio</a></li>
                            <li><a href="#">Gadgets</a></li>
                            <li><a href="#">Cameras</a></li>
                        </ul>
                    </li>
                    
                    <li class="dropdown navbar-right hidden-md">
                        <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Accessories</a>
                        <ul class="dropdown-menu">
                            <li><div class="yamm-content">
    <div class="row">
       <div class="col-xs-12 col-sm-4">
            <h2>Laptops &amp; Notebooks</h2>
            <ul>
                <li><a href="#">Power Supplies Power</a></li>
                <li><a href="#">Power Supply Testers Sound </a></li>
                <li><a href="#">Sound Cards (Internal)</a></li>
                <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
                <li><a href="#">Other</a></li>
            </ul>
        </div><!-- /.col -->

        <div class="col-xs-12 col-sm-4">
            <h2>Computers &amp; Laptops</h2>
            <ul>
                <li><a href="#">Computer Cases &amp; Accessories</a></li>
                <li><a href="#">CPUs, Processors</a></li>
                <li><a href="#">Fans, Heatsinks &amp; Cooling</a></li>
                <li><a href="#">Graphics, Video Cards</a></li>
                <li><a href="#">Interface, Add-On Cards</a></li>
                <li><a href="#">Laptop Replacement Parts</a></li>
                <li><a href="#">Memory (RAM)</a></li>
                <li><a href="#">Motherboards</a></li>
                <li><a href="#">Motherboard &amp; CPU Combos</a></li>
                <li><a href="#">Motherboard Components &amp; Accs</a></li>
            </ul>
        </div><!-- /.col -->

        <div class="col-xs-12 col-sm-4">
            <h2>Dekstop Parts</h2>
            <ul>
                <li><a href="#">Power Supplies Power</a></li>
                <li><a href="#">Power Supply Testers Sound</a></li>
                <li><a href="#">Sound Cards (Internal)</a></li>
                <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
                <li><a href="#">Other</a></li>
            </ul>
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.yamm-content --></li>
                        </ul>
                    </li>
                </ul><!-- /.navbar-nav -->
            </div><!-- /.navbar-collapse -->
        </div><!-- /.navbar -->
    </div><!-- /.container -->
</nav>


<div class="animate-dropdown"><!-- ========================================= BREADCRUMB ========================================= -->
<div id="breadcrumb-alt">
    <div class="container">
        <div class="breadcrumb-nav-holder minimal">
            <ul>
                <li class="dropdown breadcrumb-item">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Media Center
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Computer Cases &amp; Accessories</a></li>
                        <li><a href="#">CPUs, Processors</a></li>
                        <li><a href="#">Fans, Heatsinks &amp; Cooling</a></li>
                        <li><a href="#">Graphics, Video Cards</a></li>
                        <li><a href="#">Interface, Add-On Cards</a></li>
                        <li><a href="#">Laptop Replacement Parts</a></li>
                        <li><a href="#">Memory (RAM)</a></li>
                        <li><a href="#">Motherboards</a></li>
                        <li><a href="#">Motherboard &amp; CPU Combos</a></li>
                        <li><a href="#">Motherboard Components</a></li>
                    </ul>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">Home</a>
                </li>
                <li class="breadcrumb-item current">
                    <a href="#">Terms &amp; Conditions</a>
                </li>
            </ul>
        </div><!-- /.breadcrumb-nav-holder -->
    </div><!-- /.container -->
</div><!-- /#breadcrumb-alt -->
<!-- ========================================= BREADCRUMB : END ========================================= --></div>


<main id="terms" class="inner-bottom-md">
	<div class="container">
		<section class="section section-page-title">
			<div class="page-header">
				<h2 class="page-title">Terms and Conditions</h2>
				<p class="page-subtitle">This Agreement was last modified on July 20, 2014.</p>
			</div>
		</section><!-- /.section-page-title -->
		<section class="section intellectual-property inner-bottom-xs">
			<h2>Intellectual Propertly</h2>
			<ol>
				<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis diam erat. Duis velit lectus, posuere a blandit sit amet, tempor at lorem. Donec ultricies, lorem sed ultrices interdum.</li>
				<li>Leo metus luctus sem, vel vulputate diam ipsum sed lorem. Donec tempor arcu nisl, et molestie massa scelerisque ut. Nunc at rutrum leo. Mauris metus mauris, tristique quis sapien eu, rutrum vulputate enim. </li>
				<li>Mauris tempus erat laoreet turpis lobortis, eu tincidunt erat fermentum. </li>
				<li>Aliquam non tincidunt urna. Integer tincidunt nec nisl vitae ullamcorper. Proin sed ultrices erat. Praesent varius ultrices massa at faucibus. </li>
				<li>Aenean dignissim, orci sed faucibus pharetra, dui mi dignissim tortor, sit amet condimentum mi ligula sit amet augue. </li>
				<li>Pellentesque vitae eros eget enim mollis placerat.</li>
			</ol>
		</section>
		<section class="section intellectual-property inner-bottom-xs">
			<h2>Termination</h2>
			<ol>
				<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis diam erat. Duis velit lectus, posuere a blandit sit amet, tempor at lorem. Donec ultricies, lorem sed ultrices interdum.</li>
				<li>Leo metus luctus sem, vel vulputate diam ipsum sed lorem. Donec tempor arcu nisl, et molestie massa scelerisque ut. Nunc at rutrum leo. Mauris metus mauris, tristique quis sapien eu, rutrum vulputate enim. </li>
				<li>Mauris tempus erat laoreet turpis lobortis, eu tincidunt erat fermentum. </li>
				<li>Aliquam non tincidunt urna. Integer tincidunt nec nisl vitae ullamcorper. Proin sed ultrices erat. Praesent varius ultrices massa at faucibus. </li>
				<li>Aenean dignissim, orci sed faucibus pharetra, dui mi dignissim tortor, sit amet condimentum mi ligula sit amet augue. </li>
				<li>Pellentesque vitae eros eget enim mollis placerat.</li>
			</ol>
		</section>
		<section class="section intellectual-property inner-bottom-xs">
			<h2>Changes to this agreement</h2>
			<p>We reserve the right, at our sole discretion, to modify or replace these Terms and Conditions by posting the updated terms on the Site. Your continued use of the Site after any such changes constitutes your acceptance of the new Terms and Conditions.</p>
		</section>
		<section class="section intellectual-property">
			<h2>Contact Us</h2>
			<p>If you have any questions about this Agreement, please contact us filling this <a href="contact.html">contact form</a></p>
		</section>
	</div>
</main>


{% endblock %}