 {% if  users|length > 0  %} 
 {% for user  in users%}




<tr> 


    <td>{{user.login}}</td> </br>
    <td>{{user.password}}</td> </br>
    <td>{{user.email}}</td> </br>
   <td> {{user.privilege}}</td>  
</tr>


</br></br></br>
   {%endfor%}{% endif %} 