 

<html lang="en">


<head>
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/myappfrontoffice/css/style.css') }}"/> 
<script src="{{ asset('bundles/myappfrontoffice/js/js.js') }}" type="text/javascript"></script>
<link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" /> 
</head>

<body>
  <a href="#" title="Citernes Plast">
        <img src="{{ asset('bundles/myappfrontoffice/images/citerne-plast-1418391467.jpg') }}" alt="" class="logo-img" />
  </a>
    
    
    
    <div class="contenutemplate">
        
        
    {% block index%}{% endblock %}    
        
        
        
    </div>
    
    
   
    
</body>
<footer>
    <div class="footer-container"></div>
</footer>
</html>
