/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27 juil. 2015, 18:01:30
    Author     : Mehrez
*/

.logo-img{
    position: relative;
    margin-top: 15px;
     margin-left: 86.5000px;
}

 .sf-menu {
    position: relative;
    padding: 0;
    width: 100%;
    background: #333333;
}


.footer-container{
  background: #333333;
    width: 1170px;
    height: 378px;
   margin-right: 86.5000px;
    margin-left: 86.5000px;
    margin-bottom: 100px;
    
}


.sf-menu > li > a {
    font: 300 18px/22px "Oswald", sans-serif;
    text-transform: uppercase;
    color: white;
    display: block;
    padding: 9px 10px;
}