    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/myappbackoffice/css/bootstrap.css') }}"/> 
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/myappbackoffice/css/font-awesome.css') }}"/> 
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/myappbackoffice/css/custom.css') }}"/> 
    



<div class="container">
        <div class="row text-center  ">
            <div class="col-md-12">
                <br /><br />
                <h2> Binary Admin : Register</h2>

                <h5>( Register yourself to get access )</h5>
                <br />
            </div>
        </div>
        <div class="row">

            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>  New User ? Register Yourself </strong>  
                    </div>
                    <div class="panel-body">
                            
                     <form action="#"   method="POST">
                            <br/>
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa fa-circle-o-notch"  ></i></span>
                               
                                  {{form_widget(form._token)}}
                        <td> {#{form_widget(form.username, { 'attr': {'placeholder': '  Your Name ','class':'form-control'} }) }#}   </td>                               
                            </div>
      
                            <div class="form-group input-group">
                                <span class="input-group-addon">@</span>
                               
                                
                          <td> {#{form_widget(form.email, { 'attr': {'placeholder': ' Your Email ','class':'form-control'} }) }#}   </td>                       
                            </div>
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"  ></i></span>
                              
                                
                         <td> {#{form_widget(form.plainPassword.first, { 'attr': {'placeholder': ' Enter Password ','class':'form-control'} }) }#}   </td>                       
                                
                            </div>
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"  ></i></span>
                           
                     <td> {#{form_widget(form.plainPassword.second, { 'attr': {'placeholder': ' Retype Password ','class':'form-control'} }) }#}   </td>   
                            </div>
                           <input type="submit" value="Register Me"  class="btn btn-success " />
                           
                                  <hr />
                                      Already Registered ?  
                               <a href="{#{ path('fos_user_security_login') }#}"> Login here </a>                        
                          
                        </form>
                    </div>

                </div>
            </div>


        </div>
    </div>
 
